<a href="https://colab.research.google.com/github/deepnp7/PythonLab4thSem/blob/main/13thFeb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_count = 0
odd_count = 0

for number in numbers:
  if number % 2 == 0:
    even_count += 1
  else:
    odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 5
Number of odd numbers: 5

In [ ]:
for number in range(0, 7):
  if number == 3 or number == 6:
    continue
  print(number)

0
1
2
4
5

In [ ]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

nterms = 50

for i in range(nterms):
  fib = fibonacci(i)
  if fib > 50:
    break
  print(fib)

0
1
1
2
3
5
8
13
21
34

In [ ]:
for i in range(1, 51):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 3 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
binary_numbers = input("Enter a sequence of 4-digit binary numbers, separated by commas: ")

numbers = binary_numbers.split(",")
result = []

for number in numbers:
  decimal = int(number, 2)
  if decimal % 5 == 0:
    result.append(number)
print("Output : ")
print(",".join(result))

Enter a sequence of 4-digit binary numbers, separated by commas: 1010,1011,1100,1011,1110,1010
Output :
1010,1010

In [ ]:
string = input("Enter a string: ")

digits = 0
letters = 0
for char in string:
  if char.isdigit():
    digits += 1
  elif char.isalpha():
    letters += 1

print("The number of digits is:", digits)
print("The number of letters is:", letters)

Enter a string: deepnarayan
The number of digits is: 0
The number of letters is: 11

In [ ]:
result = []
for i in range(100, 401):
  all_even = True
  for j in str(i):
    if int(j) % 2 != 0:
      all_even = False
      break
  if all_even:
    result.append(str(i))

print(','.join(result))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [ ]:
def dog_age_in_human_years(dog_age):
  if dog_age <= 2:
    return dog_age * 10.5
  else:
    return 21 + (dog_age - 2) * 4

dog_age = int(input("Enter the dog's age in dog years: "))
human_age = dog_age_in_human_years(dog_age)

print("The dog's age in human years is:", human_age)

Enter the dog's age in dog years: 5
The dog's age in human years is: 33

In [ ]:
letter = input("Enter a letter: ")

if letter in ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']:
  print(letter, "is a vowel.")
else:
  print(letter, "is a consonant.")

Enter a letter: deep
deep is a consonant.

In [ ]:
month_name = input("Enter the name of the month: ")

if month_name in ["January", "March", "May", "July", "August", "October", "December"]:
  num_days = 31
elif month_name in ["April", "June", "September", "November"]:
  num_days = 30
elif month_name == "February":
  num_days = 28
else:
  num_days = None

if num_days is not None:
  print("The number of days in", month_name, "is", num_days, "days.")
else:
  print("Invalid month name.")

Enter the name of the month: March
The number of days in March is 31 days.

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

sum = a + b

if 15 <= sum <= 20:
  sum = 20

print("The sum of", a, "and", b, "is", sum)

Enter the first number: 10
Enter the second number: 12
The sum of 10 and 12 is 22

In [ ]:
string = input("Enter a string: ")

try:
    int(string)
    print(string, "is an integer.")
except ValueError:
    print(string, "is not an integer.")

Enter a string: 42
42 is an integer.

In [ ]:
a = int(input("Enter the length of the first side: "))
b = int(input("Enter the length of the second side: "))
c = int(input("Enter the length of the third side: "))

if a == b == c:
    print("The triangle is equilateral.")
elif a == b or a == c or b == c:
    print("The triangle is isosceles.")
else:
    print("The triangle is scalene.")

Enter the length of the first side: 4
Enter the length of the second side: 3
Enter the length of the third side: 2
The triangle is scalene.

In [ ]:
month = int(input("Enter the month (as a number between 1 and 12): "))
day = int(input("Enter the day (as a number between 1 and 31): "))

if month < 1 or month > 12 or day < 1 or day > 31:
    print("Invalid input.")
elif (month == 3 and day >= 20) or (month > 3 and month < 6):
    print("Spring")
elif (month == 6 and day >= 21) or (month > 6 and month < 9):
    print("Summer")
elif (month == 9 and day >= 22) or (month > 9 and month < 12):
    print("Fall")
else:
    print("Winter")

Enter the month (as a number between 1 and 12): 5
Enter the day (as a number between 1 and 31): 23
Spring

In [ ]:
def find_median(a, b, c):
    if a < b:
        if b < c:
            return b
        elif a < c:
            return c
        else:
            return a
    else:
        if a < c:
            return a
        elif b < c:
            return c
        else:
            return b

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

median = find_median(a, b, c)

print("Median:", median)

Enter first number: 12
Enter second number: 11
Enter third number: 10
Median: 11

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 24
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [ ]:
string = input("Enter a string: ")

length = len(string)

print("The length of the string is", length)

Enter a string: zatch
The length of the string is 5

In [ ]:
string = input("Enter a string: ")

frequency = {}

for char in string:
  frequency[char] = frequency.get(char, 0) + 1

print("Character frequency:")
for char, count in frequency.items():
  print(char, count)

Enter a string: ZaTCh
Character frequency:
Z 1
a 1
T 1
C 1
h 1