<a href="https://colab.research.google.com/github/deepnp7/PythonLab4thSem/blob/main/PythonLab_16th_Jan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
seconds_per_day=86400

In [ ]:
sum=0
sum+=1
sum+=2
sum+=3
sum+=4
sum

10

In [ ]:
sum=1 + \
    2 + \
    3 + \
    4

In [ ]:
disaster = True
if disaster :
  print("Woe ! ")
else 
  print("Whee ! ")

Whee !

In [ ]:
furry = True
large = True
if furry:
 if large:
  print("It's a yeti.")
 else:
  print("It's a cat!")
else:
 if large:
  print ("It's a whale!")
 else:
  print("It's a human. Or a hairless cat.")

It's a yeti.

In [ ]:
letter = 'o'
if letter == 'a' or letter == 'e' or letter == 'ยก' \
 or letter == 'o' or letter == 'u':
 print (letter, 'is a vowel') 
else:
 print(letter, 'is not a vowel')

o is a vowel

In [ ]:
vowels = 'aeiou'
letter = 'o'
letter in vowels

True

In [ ]:
if letter in vowels:
 print(letter, 'is a vowel')

o is a vowel

In [ ]:
tweet_limit = 280
tweet_string = "Blah" * 50
diff = tweet_limit - len(tweet_string)
if diff >= 0:
 print("A fitting tweet")
else:
 print ("Went over by", abs (diff))

A fitting tweet

In [ ]:
tweet_limit = 280
tweet_string = "Blah" * 50
if diff := tweet_limit - len(tweet_string) >= 0:
 print("A fitting tweet")
else:
 print("Went over by", abs(diff))

A fitting tweet

In [ ]:
name = input( "Enter Employee Name: ")
salary = input ("Enter salary: ")
company = input("Enter Company name: ")
print("In")
print("Printing Employee Details")
print ("\n")
print("Printing Employee Details")
print("Name", "Salary", "Company")
print (name, salary, company)

Enter Employee Name: DNP
Enter salary: 150
Enter Company name: TX
In
Printing Employee Details


Printing Employee Details
Name Salary Company
DNP 150 TX

In [ ]:
number = input("Enter roll number ")
name = input("Enter age ")
print("In")
print ('Roll number:', number, 'Name:', name)
print("Printing type of a input values")
print("type of number", type (number))
print ("type of name", type (name))

Enter roll number 69
Enter age 19
In
Roll number: 69 Name: 19
Printing type of a input values
type of number <class 'str'>
type of name <class 'str'>

In [ ]:
first_number = int(input("Enter first number "))
second_number = int(input ("Enter second number "))
print("In")
print("First Number:", first_number)
print ("Second Number:", second_number)
sum1 = first_number + second_number
print( "Addition of two number is: ", sum1)

Enter first number 123
Enter second number 321
In
First Number: 123
Second Number: 321
Addition of two number is:  444

In [ ]:
marks = float(input( "Enter marks "))
print ("In")
print ("Student marks is: ", marks)
print("type is:", type (marks))

Enter marks 69.69
In
Student marks is:  69.69
type is: <class 'float'>

In [ ]:
name, age, marks = input("Enter your Name, Age, Percentage separated by space ").split()
print("In")
print ("User Details: ", name, age, marks)

Enter your Name, Age, Percentage separated by space DNP 18 69
In
User Details:  DNP 18 69

In [ ]:

name = input( "Enter Name: ")
print ('User Name:', name)

Enter Name: ZATCH
User Name: ZATCH

In [ ]:
name = input ('Enter Name ')
zip_code = int (input('Enter zip code'))
street = input ('Enter street name ')
house_number = int(input ('Enter house number '))
print (name, zip_code, street, house_number, sep="-")

Enter Name DP
Enter zip code123
Enter street name GB
Enter house number 69
DP-123-GB-69

In [ ]:
print ('FirstName - {0}, LastName - {1}'.format ('Ault', 'Kelly'))

FirstName - Ault, LastName - Kelly

In [ ]:
firstName = input ("Enter First Name ")
lastName = input ("Enter Last Name ")
organization = input ("Enter Organization Name ")
print("\n")
print ('{0}, {1} works at {2}'.format (firstName, lastName, organization))
print('{1}, {0} works at {2}' .format (firstName, lastName, organization))
print ('FirstName {0}, LastName {1} works at {2}'.format (firstName, lastName, organization))
print('{0}, {1} {0}, {1} works at {2}' .format(firstName, lastName, organization))

Enter First Name DEEP
Enter Last Name PATRA
Enter Organization Name TX


DEEP, PATRA works at TX
PATRA, DEEP works at TX
FirstName DEEP, LastName PATRA works at TX
DEEP, PATRA DEEP, PATRA works at TX

In [ ]:
name = input( "Enter Name ")
marks = input( "Enter marks ")
print("\n")
print ('Student: Name: {firstName}, Marks: {percentage}%' .format (firstName=name, percentage=marks))

Enter Name ZATCH
Enter marks 69


Student: Name: ZATCH, Marks: 69%

In [ ]:
text = input( "Enter text ")
print ("\n")

print('{:<25}'.format (text))

print('{:>25}'.format (text))

print('{:^25}'.format (text))

Enter text HII I'M ZATCH


HII I'M ZATCH
            HII I'M ZATCH
      HII I'M ZATCH

In [ ]:
positive_number = float(input("Enter Positive Number "))
negative_number = float (input("Enter Negative Number "))
print("In")

print('{:+f}; {:+f}'.format (positive_number, negative_number))

print('{:f}; {:-f}'.format (positive_number, negative_number))

Enter Positive Number 10
Enter Negative Number -10
In
+10.000000; -10.000000
10.000000; -10.000000

In [ ]:
number = int(input ("Enter number "))
print("\n")

print ("The number is:{:d}".format (number))

print('Output number in octal format : {0:0}' .format (number))

print ('Output number in binary format: {0:b}'.format (number))

print ('Output number in hexadecimal format: {0:X}'.format (number))

print ('Output number in HEXADECIMAL: {0: X}'.format (number))

Enter number 123


The number is:123
Output number in octal format : 123
Output number in binary format: 1111011
Output number in hexadecimal format: 7B
Output number in HEXADECIMAL:  7B

In [ ]:
number = float(input("Enter float Number "))
print("\n")

print("Output Number in The float type:{:f}" .format (number))

print ('padding for output float number{: 5.2f}' .format (number))

print ('Output Exponent notation{:e}'.format (number))

print ('Output Exponent notation{:E}'.format (number))

Enter float Number 69.69


Output Number in The float type:69.690000
padding for output float number 69.69
Output Exponent notation6.969000e+01
Output Exponent notation6.969000E+01

In [ ]:
text = input("Enter String : ")
print("In")
print("Left justification", text.ljust (20, "*"))
print("Right justification", text.rjust (20, "*"))
print("Center justification", text.center (20, "*"))

Enter String : zatcg
In
Left justification zatcg***************
Right justification ***************zatcg
Center justification *******zatcg********